<section id="fahnebestellen">
  <div class="container">
    <h2>{{page.txt_fahnebestellen}}</h2>
<p>
  Bestelle jetzt die Fahne (60x40cm) zu deiner persönlichen Lieblingssendung oder deinem liebsten Radio- oder TV-Sender. Wähle die Sendung aus, die auf deiner Fahne stehen soll, und füge sie zu dem Einkaufskorb hinzu. Du kannst gerne auch mehrere Fahnen auf einmal bestellen.
  <div class="button"><a href="https://fahne.meinelieblingssendung.ch/collections/all">{{page.txt_fahnebestellen}}</a></div>
</p>
<p>
  Mit 25 CHF finanzierst du die Produktions- und Versandkosten. Wenn du dir das nicht leisten kannst, kannst du denreduzierten Preis von  <a class="dont-be-so-shiny" href="https://fahne.meinelieblingssendung.ch/discount/82R5MM45H2E5">15 CHF</a> wählen. Wenn du 40 CHF zahlst, freuen wir uns sehr! Denn damit unterstützt du unser Projekt und ermöglichst, dass jemand anderes zum reduzierten Preis bestellen kann. So oder so: Wir arbeiten alle ehrenamtlich und verdienen keinen Rappen am Fahnenverkauf.
</p>
<!-- <p>
  Schreib uns eine Mail <a href="mailto:{{ site.data.campaign.email }}">{{ site.data.campaign.email }}</a>,
  <ul>
    <li>wenn deine Lieblingssendung noch fehlt. Wir geben alles, um sie auch noch ins Angebot aufzunehmen.</li>
    <li>Falls du nicht mit einer Kreditkarte bezahlen kannst, aber gerne eine Fahne bestellen würdest.</li>
  </ul>
</p> -->
<p>
  Spätestens eine Woche nach Bestellung ist deine Fahne bei dir.
</p>

<p>
  Falls du anstatt eine Fahne aufzuhängen lieber einen Sticker (7x10cm) an dein Auto kleben willst, kannst du diesen hier bestellen. Zwei Sticker kosten 4 CHF inkl. Versand. Anders als auf den Fahnen steht auf allen Stickern: <i>Weil meine Lieblingssendung es mir Wert ist: Nein zu NO BILLAG.</i>
  <div class="button"><a href="https://fahne.meinelieblingssendung.ch/collections/sticker">{{page.txt_stickerbestellen}}</a></div>
</p>
</div>
</section>
