<section id="updates">
	<div class="container">
		<h2>Updates</h2>
		{% for post in site.posts %}
			{% assign author_id = post.author_staff_member | prepend: "/staff_members/" | append: "/" %}
			{% assign author = site.staff_members | where: "url", author_id | first %}
			<div class="post">
				<div class="post-title">
					<img src="{% include relative-src.html src=author.image %}" alt="Photo of {{ author.name }}" width="50" height="50" />
					<h3>{{ post.title }}</h3>
					<p class="date">{{ author.name }} - {{ post.date | date: '%d. %B %Y' }}</p>
				</div>
				{{ post.content }}
			</div>
		{% endfor %}
	</div>
</section>
