---
layout: default
title: Rette deine Lieblingssendung - Meine Lieblingssendung
header_background_image: /images/kampagnenstart.jpg
newsletter_background_image: https://images.unsplash.com/photo-1505767297988-6d5da4a1730c?auto=format&fit=crop&w=1200&q=10
txt_aktionunterstuetzen: Aktion unterstützen
txt_fahnebestellen: Fahne bestellen
txt_stickerbestellen: Sticker bestellen
txt_weitereinfos: Weitere informationen
txt_informiertbleiben: Informiert bleiben
txt_newslettertext: Informationen zu unserer Kampagne verschicken wir über unseren Newsletter.
btn_send: Anmelden
lang_prefix: de
---
<header style="background-image: url({% include relative-src.html src=page.header_background_image %});">
  <div class="container">
    <h1>Rette deine Lieblingssendung!</h1>
  </div>
  <div class="weitere-informationen"><a href="#weitere-informationen">{{page.txt_weitereinfos}} <span class="arrow">&#x25BC;</span></a></div>
</header>

{% include de/weitere-informationen.html %}
{% include de/quote.html %}
{% include de/updates.html %}
{% include de/ueberuns.html %}


<section class="newsletter" style="background-image: url({% include relative-src.html src=page.newsletter_background_image %}); background-size: 100%; background-position-y: -482px;">
  <div class="container">
    <h2>{{page.txt_informiertbleiben}}</h2>
    <p>{{page.txt_newslettertext}}</p>
    <form action="{{ site.newsletter_action }}" method="post">
      <input type="text" name="EMAIL" placeholder="Email">
      <input type="submit" value="{{ page.btn_send }}"/>
    </form>
  </div>
</section>
