---
layout: default
title: Rette deine Lieblingssendung
header_background_image: https://images.unsplash.com/photo-1463421585849-6b0acf2c9257?auto=format&fit=crop&w=2166&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D
header_background_image: https://images.unsplash.com/photo-1467293622093-9f15c96be70f?auto=format&fit=crop&w=2550&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D
header_background_image: https://images.unsplash.com/photo-1499534342700-68e9bd77b520?auto=format&fit=crop&w=2167&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D
newsletter_background_image: https://images.unsplash.com/photo-1505767297988-6d5da4a1730c?auto=format&fit=crop&w=1200&q=10
---
<header style="background-image: url({% include relative-src.html src=page.header_background_image %});">
	<div class="container">
		<h1>Rette deine Lieblingssendung</h1>
		<div class="button">
			<a href="#donate">Aktion unterstützen</a>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Weitere informationen <span class="arrow">&#x25BC;</span></a></div>
</header>

<section id="learn-more">
	<div class="container">
		{% include home.html %}
	</div>
</section>

<section>
	<div class="container mission">
		<h2>Our Mission</h2>
		<p><img src="https://source.unsplash.com/9fQDKybDgqk/200x134" alt="Sheep" width="200" height="134">Leave no sheep behind. Our mission to give sheep the right to vote and have them represented in parliament. For too long sheep have been exploited for their warm wool and delicious meat. It's time to put our hooves down and baa for what's right. Give sheep the vote!</p>
	</div>
</section>

<section>
	<div class="container">
		<blockquote>
			<p class="quote">The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.</p>
			<div class="attribute">
				<p class="meta">
					<span class="author"><strong>Wooly McBaa</strong><br />Founder</span>
					<span class="image"><img src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				</p>
			</div>
		</blockquote>
	</div>
</section>

<section class="newsletter" style="background-image: url({% include relative-src.html src=page.newsletter_background_image %}); background-size: 100%; background-position-y: -482px;">
	<div class="container">
		<h2>Informiert bleiben</h2>
		<p>Informationen zu unserer Kampagne verschicken über unseren Newsletter.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Anmelden"/>
		</form>
	</div>
</section>

<section id="donate">
	<div class="container">
		<h2>Spenden</h2>
		<div class="donate">
			{% include donnation.html %}
			{{ site.donation_embed }}
		</div>
	</div>
</section>

<section id="fahnebestellen">
	<div class="container">
		<h2>Fahne bestellen</h2>
		{% include fahne.html %}
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2>Updates</h2>
		{% for post in site.posts %}
			{% assign author_id = post.author_staff_member | prepend: "/staff_members/" | append: "/" %}
			{% assign author = site.staff_members | where: "url", author_id | first %}
			<div class="post">
				<div class="post-title">
					<img src="{% include relative-src.html src=author.image %}" alt="Photo of {{ author.name }}" width="50" height="50" />
					<h3>{{ post.title }}</h3>
					<p class="date">{{ author.name }} - {{ post.date | date: '%d. %B %Y' }}</p>
				</div>
				{{ post.content }}
			</div>
		{% endfor %}
	</div>
</section>
