<p>
  Bestelle jetzt die Fahne zu deiner persönlichen Lieblingssendung oder deinem liebsten Radio- oder TV-Sender. Wähle die Sendung aus, die auf deiner Fahne stehen soll, und füge sie zum dem Einkaufskorb hinzu. Du kannst gerne auch mehrere Sendungen auf einmal bestellen.
  <div class="button"><a href="https://fahne.meinelieblingssendung.ch/collections/all">Fahne bestellen</a></div>
</p>
<p>
  Mit 25 CHF finanzierst du die Produktions- und Versandkosten. Wenn du dir das nicht leisten kannst, kannst du denreduzierten Preis von  <a class="dont-be-so-shiny" href="https://fahne.meinelieblingssendung.ch/discount/82R5MM45H2E5">15 CHF</a> wählen. Wenn du 40 CHF zahlst, freuen wir uns sehr! Denn damit unterstützt du unser Projekt und ermöglichst, dass jemand anderes zum reduzierten Preis bestellen kann. So oder so: Wir arbeiten alle ehrenamtlich und verdienen keinen Rappen am Fahnenverkauf.
<p>
  Schreib uns eine Mail <a href="mailto:{{ site.data.campaign.email }}">{{ site.data.campaign.email }}</a>,
  <ul>
    <li>wenn deine Lieblingssendung noch fehlt. Wir geben alles, um sie auch noch ins Angebot aufzunehmen.</li>
    <li>Falls du nicht mit einer Kreditkarte bezahlen kannst, aber gerne eine Fahne bestellen würdest.</li>
  </ul>
</p>
<p>
  Spätestens eine Woche nach Bestellung ist deine Fahne bei dir.
</p>
