<section id="weitere-informationen">
	<div class="container">
    <h2>Wieso gibt es uns?</h2>
    <p>
    Medien, die uns allen gehören, sind uns verpflichtet. Medien, die uns gehören und von uns finanziert werden, können unabhängig von Geldgebern und Inserenten berichten. Das ist für unsere Demokratie wichtig. Das Ziel der No-Billag-Initiative ist die Unterbindung staatlicher Medien-Unterstützung. Das bedeutet das Ende für die SRG, die wir heute kennen. Damit verlieren die Schweizerinnen und Schweizer eine unabhängige und neutrale Informationsquelle. Konkret bedeutet dies nicht nur das Ende von beliebten Radio- und TV- Sendungen, auch eine grosse Anzahl von Privatradios und TV-Stationen werden ihren Betrieb massiv einschränken oder einstellen müssen.
    </p>
    <p>
    Welche Sendungen sind für dich die Konzessionsgebühren wert? Ist es die “Tagesschau”? Oder eher “Morgenstund hat Gold im Mund?” Oder schaust du jeweils die Fussball-WM-Übertragungen auf SRF 2? Stehe gemeinsam mit uns für deine ganz persönliche Lieblingssendung oder deinen Lieblingssender ein und hilf mit, Ihn vor dem Sendeschluss zu bewahren!
    </p>
    <p>
    Das Ziel dieser Kampagne ist es, das Land mit Fahnen zu überziehen, überall soll sichtbar werden, welche Sendungenen gehört, geschaut und geschätzt werden. Wir wollen das Feld nicht den “Nörglern” überlassen, sondern zeigen, was wir für unser Geld erhalten und welche Vielfalt mit den Konzessionsgebühren darüber hinaus ermöglicht wird.
    </p>

    <p>
    Bestelle jetzt die Fahne deiner Lieblingssendung, hänge sie gut sichtbar auf und sprich mit deinem Umfeld über die anstehende Abstimmung und was die Annahme der No-Billag_Initiative für uns bedeuten würde. Wenn Du unsere Arbeit unterstützen möchtest, freuen wir uns über Deine Spende, die direkt und vollständig diesem Projekt zu Gute kommt.
    </p>
</div>
</section>
