---
layout: default
title: Pour le maintien de ton émission préférée
header_background_image: /images/kampagnenstart.jpg
newsletter_background_image: https://images.unsplash.com/photo-1505767297988-6d5da4a1730c?auto=format&fit=crop&w=1200&q=10
txt_aktionunterstuetzen: Soutenir la campagne
txt_fahnebestellen: Commande de drapeaux
txt_stickerbestellen: Sticker bestellen (fr)
txt_weitereinfos: Informations complémentaires
txt_informiertbleiben: Rester informé
txt_newslettertext: Vous pouvez rester informé grâce à notre Newsletter
btn_send: S’inscrire
lang_prefix: fr
---
<header style="background-image: url({% include relative-src.html src=page.header_background_image %});">
  <div class="container">
    <h1>{{page.title}}</h1>
    <div class="button"><a href="#spenden">{{page.txt_aktionunterstuetzen}}</a></div>
    <div class="button"><a href="#fahnebestellen">{{page.txt_fahnebestellen}}</a></div>
  </div>
  <div class="weitere-informationen"><a href="#weitere-informationen">{{page.txt_weitereinfos}} <span class="arrow">&#x25BC;</span></a></div>
</header>

{% include fr/weitere-informationen.html %}
{% include fr/quote.html %}
<!-- {% include fr/updates.html %} -->
{% include fr/donnation.html %}
{% include fr/fahne.html %}
{% include fr/ueberuns.html %}


<section class="newsletter" style="background-image: url({% include relative-src.html src=page.newsletter_background_image %}); background-size: 100%; background-position-y: -482px;">
  <div class="container">
    <h2>{{page.txt_informiertbleiben}}</h2>
    <p>{{page.txt_newslettertext}}</p>
    <form action="{{ site.newsletter_action }}" method="post">
      <input type="text" name="EMAIL" placeholder="Email">
      <input type="submit" value="{{ page.btn_send }}"/>
    </form>
  </div>
</section>
