<section id="fahnebestellen">
  <div class="container">
    <h2>{{page.txt_fahnebestellen}}</h2>
<p>
  Commande maintenant le drapeau (60x40cm) de ton émission ou de la station de radio ou de télévision que tu préfères. Sélectionne l’émission que tu souhaites mettre sur ton drapeau et ajoute-le au panier. Tu peux également commander plusieurs émissions à la fois.
  <div class="button"><a href="https://fahne.meinelieblingssendung.ch/collections/all">{{page.txt_fahnebestellen}}</a></div>
</p>
<p>
  Avec 25 CHF, tu finances les frais de production et d'envoi. Si ce montant est trop élevé pour tes moyens, tu peux choisir le prix réduit de <a class="dont-be-so-shiny" href="https://fahne.meinelieblingssendung.ch/discount/82R5MM45H2E5">15 CHF</a>. Un montant de soutien de 40 CHF, permet de soutenir notre projet et de donner à quelqu'un qui n’en a pas les moyens, la chance de commander un drapeau à un prix réduit, ce qui permet d’augmenter encore notre visibilité. Quoi qu'il en soit, nous travaillons tous sur une base bénévole et ne gagnons pas d’argent de la vente des drapeaux.
</p>
<!-- <p>
  Ecris-nous un e-mail  <a href="mailto:{{ site.data.campaign.email }}">{{ site.data.campaign.email }}</a>,
  <ul>
    <li>si ton émission préférée n’est pas encore disponible. Nous mettons tout en œuvre pour l’inclure dans notre offre.</li>
    <li>si tu ne peux pas payer par carte de crédit, mais que tu souhaites quand-même commander un drapeau.</li>
  </ul>
</p> -->
<p>
  Au plus tard une semaine après la commande, ton drapeau sera chez toi.
</p>
<p>
  Si, à la place d'accrocher un drapeau, tu souhaites coller un autocollant (7x10cm) sur ta voiture ou ton vélo, tu peux le commander ici. Deux autocollants coûtent 4 CHF, frais de port inclus. Contrairement aux drapeaux, tous les autocollants portent la mention <i>Mon émission préférée le vaut bien : NON à No Billag.</i>

  <div class="button"><a href="https://fahne.meinelieblingssendung.ch/collections/sticker">{{page.txt_stickerbestellen}}</a></div>
</p>
</div>
</section>
