<section id="weitere-informationen">
  <div class="container">
    <h2>Introduction/Home</h2>
    <p>
      Des médias qui appartiennent à tous, ont une responsabilité envers nous tous. Les médias qui nous appartiennent et qui sont financés par nos soins peuvent se présenter indépendamment d’autres bailleurs de fonds et des annonceurs. Ceci est vital pour notre démocratie. L'objectif de l'initiative « No Billag » est justement d'empêcher le soutien privé des médias du service public. Un tel soutien signifierait la fin de la SSR, telle que nous la connaissons aujourd'hui. Le peuple suisse perdrait ainsi une source d'information indépendante et neutre qui joue un rôle important dans le pluralisme des opinions. Concrètement, cela signifierait non seulement la fin des émissions populaires de radio et de télévision, mais aussi d’un grand nombre de radios et de chaînes de télévision concessionnées qui devraient restreindre massivement ou cesser entièrement leur exploitation.
    </p>
    <p>
    Quelles sont les émissions qui justifient pour toi les frais de redevance?
    « Infrarouge » ? « CQFD » ? « 26 Minutes» ? Ou est-ce que tu regardes plutôt « Sport dimanche » sur RTS Deux ? Ensemble, choisissons de défendre nos émissions et nos chaînes préférées et de les protéger de leur disparition.
    </p>
    <p>
      L'objectif de cette campagne est de couvrir le pays de drapeaux et de rendre visibles partout en Suisse, les émissions qui sont écoutées, regardées et appréciées du public. Nous ne voulons pas laisser le champ aux "râleurs", en faisant état de ce que nous recevons pour notre argent, et quelle diversité de programmation est rendue possible grâce à la redevance.
    </p>
    <p>
      Commande maintenant le drapeau de ton émission préférée, accroche-le bien en vue et parle à ton entourage du vote à venir et de ce que l'acceptation de l’intiative « No-Billag » signifierait pour la Suisse. Si tu souhaites soutenir notre travail, nous nous réjouissons de ton don, qui sera reversé directement et entièrement au profit de cette campagne.
    </p>
    <p>
      S'il devait rester de l'argent après le vote du 4 mars 2018, nous le reverserons à des associations à but non lucratif et à des projets qui s’engagent pour un journalisme indépendant dans le monde entier.
    </p>
</div>
</section>
